 
		<!--购物车主页-->
		<div class="car_containWrap">
			<header class="car_title">
				购物车
			</header>
			<!--购物车详情-->
			<div class="car_contain">
				<div class="car_user_msgWrap">
					<a href="" class="car_user_msg">
						<p class="direction">先锋侠需要您详细地理位置</p>
						<p class="car_user_name clearFloat">
							<span class="receiver">收货人<i></i></span>
							<span class=" name  ">刘scalliu&nbsp;</span>
							<span class="sex">女士</span>
						</p>
						<p class="car_user_tel clearFloat">
							<span class="tel">电话<i></i></span>
							<span class="shouhuo_tel ">1111111111</span>
							<span href="#" class="shouhuo_change">修改﹥</span>
						</p>
						<p class="car_address clearFloat">
							<span>收货地址<i></i></span>
							<span class="shouhuo-address shouhuo-span">深圳宝安新安</span>
						</p>
					</a>
				</div>
				<!--闪购超市和其他-->
				<ul class="car_content">
					<li class="quickSuper">
						<p class="quickSuper_coudan">
							<span class="quickSuper_left">闪送超市</span>
							<span class="quickSuper_ab">凑单专区</span>
						</p>
						<p class="quickSuper_msg">¥0起送，22:00前满¥30免运费，22:00后满¥50免运费</p>
					</li>
					<li class="receive ">
						<span class="receive_time">收货时间</span>
						<span class="timeInf">10:00-11:00</span>
						<span class="receive_order">可预定﹥</span>
					</li>
					<li class="receive_other">
						<span class="notice">收货备注:</span>
						<input type="text" name="notice_info" class="notice_info" value="" placeholder="可输入100字以内特殊要求" />
					</li>
				</ul>
				<!--/闪购超市和其他-->
				<!--用户购物车商品-->
				<ul class="car_contentInfs">
					<li class='car_contentInfs_items '>
						<div class="items_checkbox">
						</div>
						<a href="javascript:;" class="items_content">
							<figure class="content_main_items clearFloat">
								<img src=" http://img01.bqstatic.com/upload/goods/201/606/3013/20160630130013_635494.jpg@120w_120h_90Q " alt="" class="imgFly" />
								<figcaption class="content_main_items">
									<p class="main_items_title">为他柠檬差</p>
									<p class="main_items_price">¥2.9</p>
									<p class="main_items_count">
										<span class="del_inco" ng-click=" "></span>
										<span class="shopping_num">1</span>
										<span class="ali_inco" ng-click=" "></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class='car_contentInfs_items '>
						<div class="items_checkbox">
						</div>
						<a href="javascript:;" class="items_content">
							<figure class="content_main_item clearFloat">
								<img src=" http://img01.bqstatic.com/upload/goods/201/606/3013/20160630130013_635494.jpg@120w_120h_90Q " alt="" class="imgFly" />
								<figcaption class="content_main_items">
									<p class="main_items_title">为他柠檬差</p>
									<p class="main_items_price">¥2.9</p>
									<p class="main_items_count">
										<span class="del_inco" ng-click=" "></span>
										<span class="shopping_num">1</span>
										<span class="ali_inco" ng-click=" "></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class='car_contentInfs_items '>
						<div class="items_checkbox">
						</div>
						<a href="javascript:;" class="items_content">
							<figure class="content_main_items clearFloat">
								<img src=" http://img01.bqstatic.com/upload/goods/201/606/3013/20160630130013_635494.jpg@120w_120h_90Q " alt="" class="imgFly" />
								<figcaption class="content_main_items">
									<p class="main_items_title">为他柠檬差</p>
									<p class="main_items_price">¥2.9</p>
									<p class="main_items_count">
										<span class="del_inco" ng-click=" "></span>
										<span class="shopping_num">1</span>
										<span class="ali_inco" ng-click=" "></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class='car_contentInfs_items '>
						<div class="items_checkbox">
						</div>
						<a href="javascript:;" class="items_content">
							<figure class="content_main_item clearFloat">
								<img src=" http://img01.bqstatic.com/upload/goods/201/606/3013/20160630130013_635494.jpg@120w_120h_90Q " alt="" class="imgFly" />
								<figcaption class="content_main_items">
									<p class="main_items_title">为他柠檬差</p>
									<p class="main_items_price">¥2.9</p>
									<p class="main_items_count">
										<span class="del_inco" ng-click=" "></span>
										<span class="shopping_num">1</span>
										<span class="ali_inco" ng-click=" "></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class='car_contentInfs_items '>
						<div class="items_checkbox">
						</div>
						<a href="javascript:;" class="items_content">
							<figure class="content_main_items clearFloat">
								<img src=" http://img01.bqstatic.com/upload/goods/201/606/3013/20160630130013_635494.jpg@120w_120h_90Q " alt="" class="imgFly" />
								<figcaption class="content_main_items">
									<p class="main_items_title">为他柠檬差</p>
									<p class="main_items_price">¥2.9</p>
									<p class="main_items_count">
										<span class="del_inco" ng-click=" "></span>
										<span class="shopping_num">1</span>
										<span class="ali_inco" ng-click=" "></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class='car_contentInfs_items '>
						<div class="items_checkbox">
						</div>
						<a href="javascript:;" class="items_content">
							<figure class="content_main_item clearFloat">
								<img src=" http://img01.bqstatic.com/upload/goods/201/606/3013/20160630130013_635494.jpg@120w_120h_90Q " alt="" class="imgFly" />
								<figcaption class="content_main_items">
									<p class="main_items_title">为他柠檬差</p>
									<p class="main_items_price">¥2.9</p>
									<p class="main_items_count">
										<span class="del_inco" ng-click=" "></span>
										<span class="shopping_num">1</span>
										<span class="ali_inco" ng-click=" "></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class='car_contentInfs_items '>
						<div class="items_checkbox">
						</div>
						<a href="javascript:;" class="items_content">
							<figure class="content_main_items clearFloat">
								<img src=" http://img01.bqstatic.com/upload/goods/201/606/3013/20160630130013_635494.jpg@120w_120h_90Q " alt="" class="imgFly" />
								<figcaption class="content_main_items">
									<p class="main_items_title">为他柠檬差</p>
									<p class="main_items_price">¥2.9</p>
									<p class="main_items_count">
										<span class="del_inco" ng-click=" "></span>
										<span class="shopping_num">1</span>
										<span class="ali_inco" ng-click=" "></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</li>
					<li class='car_contentInfs_items '>
						<div class="items_checkbox">
						</div>
						<a href="javascript:;" class="items_content">
							<figure class="content_main_item clearFloat">
								<img src=" http://img01.bqstatic.com/upload/goods/201/606/3013/20160630130013_635494.jpg@120w_120h_90Q " alt="" class="imgFly" />
								<figcaption class="content_main_items">
									<p class="main_items_title">为他柠檬差</p>
									<p class="main_items_price">¥2.9</p>
									<p class="main_items_count">
										<span class="del_inco" ng-click=" "></span>
										<span class="shopping_num">1</span>
										<span class="ali_inco" ng-click=" "></span>
									</p>
								</figcaption>
							</figure>
						</a>
					</li>
					<!--结算-->
					<li class="total">
						<div class="items_checkbox">
						</div>
						<p class="choose_ok">
							<span class="chooss_all">全选</span>
							<span class="total">共计:</span>
							<span class="total_price"> </span>
						</p>
						<p class="choose_no">选好了</p>
					</li>
					<!--/结算-->
				</ul>
				<!--/用户购物车商品-->
				<!--购物车空空页面 -->
				<!--<div class="kong-list">
					<p class="kong-msg">亲，购物车空空的耶</p>
					<span class="quguang">去逛逛</span>
				</div>-->
				<!--/购物车空空页面-->
			</div>
			<!--/购物车详情-->
		</div>
		<!--/购物车主页-->
 