<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>爱鲜蜂超市入口</title>
		<link rel="stylesheet" href="../public/css/html5-reset.css" />
		<link rel="stylesheet" href="../public/css/reset.css" />
		<link rel="stylesheet" href="../public/lib/swiper-3.4.1.min.css" />

		<link rel="stylesheet" href="../public/css/common.css" />

		<link rel="stylesheet" href="./css/market.css" />

		<script src="../public/lib/jquery-1.8.3.js"></script>
		<script src="../public/lib/flexible.js"></script>
		<script src="../public/lib/swiper-3.4.1.jquery.min.js"></script>
		<script src="./js/home.js"></script>
	</head>

	<body>
		<div class="market_contain">
			<nav class="categoryLeftWrap">
				<article class="categoryWrap-left">
					<li class="categoryLeftItems active">
						<a>热门推荐</a>
					</li>
					<li class="categoryLeftItems">
						<a>潮流女装</a>
					</li>
					<li class="categoryLeftItems">
						<a>品牌男装</a>
					</li>
					<li class="categoryLeftItems">
						<a>5555</a>
					</li>
					<li class="categoryLeftItems">
						<a>个护化妆</a>
					</li>
					<li class="categoryLeftItems">
						<a>家用电器</a>
					</li>
					<li class="categoryLeftItems">
						<a>办公电脑</a>
					</li>
					<li class="categoryLeftItems">
						<a>22222</a>
					</li>
					<li class="categoryLeftItems">
						<a>3333</a>
					</li>
					<li class="categoryLeftItems">
						<a>4444</a>
					</li>
					<li class="categoryLeftItems">
						<a>5555</a>
					</li>
					<li class="categoryLeftItems">
						<a>6666</a>
					</li>
					<li class="categoryLeftItems">
						<a>7777</a>
					</li>
					<li class="categoryLeftItems">
						<a>8888</a>
					</li>
					<li class="categoryLeftItems">
						<a>9999</a>
					</li>
					<li class="categoryLeftItems">
						<a>121212</a>
					</li>
					<li class="categoryLeftItems">
						<a>123131231</a>
					</li>
					<li class="categoryLeftItems">
						<a>123131231</a>
					</li>
					<li class="categoryLeftItems">
						<a>123131231</a>
					</li>
					<li class="categoryLeftItems">
						<a>123131231</a>
					</li>
					<li class="categoryLeftItems">
						<a>123131231</a>
					</li>
					<li class="categoryLeftItems">
						<a>123131231</a>
					</li>
					<li class="categoryLeftItems">
						<a>123131231</a>
					</li>
					<li class="categoryLeftItems">
						<a>123131231</a>
					</li>
				</article>
			</nav>
			<main class="categoryWrap">
				<section class="categoryFixTop">
					<div>全部分类</div>
					<div>综合排序</div>
				</section>
				<article class="categoryWrap-right">
					<section class="categoryBan">
						<a href="javascript:;">
							<figure class="content_main_items clearFloat">
								<img src="./img/category.jpg" alt="" class="imgFly" />
								<ul class="content_main_item">
									<li class="content_main_items">为他柠檬差</li>
									<li class="main_items_info_chosen">
										<span>精选</span><span class="pm_desc">买二赠一</span>
									</li>
									<li class="main_items_intr">250ml </li>
									<li class="main_items_price">
										<span>¥2.9</span>
										<span class="pre_price">¥4</span>
									</li>
									<li class="main_items_count" ng-controller="gouwuche">
										<span class="del_inco" ng-click=" "></span>
										<span class="shopping_num">1</span>
										<span class="ali_inco " ng-click=" "></span>
									</li>
								</ul>
							</figure>
						</a>
						<a href="javascript:;">
							<figure class="content_main_items clearFloat">
								<img src="./img/category.jpg" alt="" class="imgFly" />
								<ul class="content_main_item">
									<li class="content_main_items">为他柠檬差</li>
									<li class="main_items_info_chosen">
										<span>精选</span><span class="pm_desc">买二赠一</span>
									</li>
									<li class="main_items_intr">250ml </li>
									<li class="main_items_price">
										<span>¥2.9</span>
										<span class="pre_price">¥4</span>
									</li>
									<li class="main-items_count" ng-controller="gouwuche">
										<span class="del_inco" ng-click=" "></span>
										<span class="shopping_num">1</span>
										<span class="ali_inco" ng-click=" "></span>
									</li>
								</ul>
							</figure>
						</a>
					</section>

				</article>
			</main>
		</div>
	</body>

</html>